html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app-layout {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}

.header {
  /*position: fixed;*/
  top: 0;
  width: 100%;
  /*background-color: #f8f9fa;*/
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 1rem;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.content {
  margin-top: 30px;
  justify-self: center;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #B5E61D;
  color: #242424;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button:hover {
  background-color: #a5d317;
  border-color: #a5d317;
  color: #242424;
}

/*.container {*/
/*  max-width: 100%;*/
/*}*/

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
