html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app-layout {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  background-color: #242424;
}

.app-title {
  font-family: 'Righteous', sans-serif;
  color: #85bb65 !important;
  font-size: 2em;
}

@media (max-width: 576px) { /* Extra small devices (portrait phones, less than 576px) */
  .app-title {
    font-size: 1.5em;
  }
}

.card-design {
  background-color: whitesmoke;
}

.header {
  /*position: fixed;*/
  top: 0;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-items {
  color: whitesmoke!important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 1.5rem;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 8vh;
}

.content {
  padding-top: 30px;
  justify-self: center;
  padding-bottom: 100px;
  min-height: 92vh;
}

.button {
  display: inline-block;
  background-color: #85bb65;
  color: whitesmoke;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.button:hover {
  background-color: #739c4e;
  border-color: #739c4e;
  color: whitesmoke;
}

.button-danger {
  background-color: lightgrey;
  border-color: lightgrey;
  color: #626262;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  padding: 0.1rem 0.5rem;
}

.button-danger:hover {
  background-color: lightgrey;
  border-color: lightgrey;
  color: #ba0000;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem; /* Adjust padding as needed */
  background-color: whitesmoke; /* Add a background color to see the box */
  flex: 1; /* Ensure the box takes up available space */
}

.box:hover {
  /*border: 2px solid #242424;*/
  background-color: lightgrey;
  cursor: pointer;
  padding-bottom: .5rem;
  padding-top: .5rem;
}

.box-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-link {
  text-align: right;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  font-size: 0.9em;
}

.select {
  min-width: 100%;
}

.custom-pagination {
  display: flex;
  list-style: none;
}

.custom-pagination .page-item {
  margin-right: 5px;
}

.custom-pagination .page-link {
  color: #242424;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.custom-pagination .page-link:hover {
  z-index: 2;
  color: #242424;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.custom-pagination .page-item.active .page-link {
  z-index: 1;
  color: whitesmoke;
  background-color: #242424;
  border-color: #242424;
}

.custom-pagination .page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
